<section id="seven">
		<div class="block remove-bottom split flip lines ophalf sliptop">	
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="contactsec" id="seven">
							<div class="consec s2">
								<div class="contactformsec wow fadeIn mt-5" id="contact" style="width: 100% !important;">
									<form method="post" action="" name="contactform" id="contactform">
										<input class="homefrm" name="name" type="text" id="name" placeholder="Your Wallet" />
									</form>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6">
                                            <div class="card bg-success  mb-4">
                                                <div class="card-body">
                                                    DollarKingz Holdings:
                                                </div>
                                                <div class="card-footer d-flex align-items-center justify-content-between">
                                                    <h4>0</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="card bg-success  mb-4">
                                                <div class="card-body">
                                                    $BUSD Holdings:
                                                </div>
                                                <div class="card-footer d-flex align-items-center justify-content-between">
                                                    <h4>0</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="card bg-success  mb-4">
                                                <div class="card-body">
                                                    Total BUSD Earnings:
                                                </div>
                                                <div class="card-footer d-flex align-items-center justify-content-between">
                                                    <h4>0</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="card bg-success  mb-4">
                                                <div class="card-body">
                                                    Total BUSD Distributed:
                                                </div>
                                                <div class="card-footer d-flex align-items-center justify-content-between">
                                                    <h4>0</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 offset-md-3">
                                            <div class="card bg-warning  mb-5">
                                                <div class="card-body">
                                                    Unclaimed Rewards:
                                                </div>
                                                <div class="card-footer d-flex align-items-center justify-content-between">
                                                    <h4>0</h4>
                                                </div>
                                                <button class="btn btn-dark btn-sm"><h5>Claim Manually</h5></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row sContract">
                                        <div class="cLogo">
                                            <img src="/image/logo1.png" alt="">
                                        </div>
                                        <div class="contracts">
                                            <div class="contract-head text-h5">BUSD Contract: </div>
                                            <div class="contract-link">
                                                <span class="text-h5 font-weight-light">0xc001bbe2b87079294c63ece98bdd0a88d761434e</span>
                                                <i class="fas fa-copy"></i>
                                            </div>
                                            <div class="contract-head text-h5">DKZ Contract: </div>
                                            <div class="contract-link">
                                                <span class="text-h5 font-weight-light">0xc001bbe2b87079294c63ece98bdd0a88d761434e</span>
                                                <i class="fas fa-copy"></i>
                                            </div>
                                        </div>
                                    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>