	<section>
			<div class="block remove-top">
				<div data-velocity="-.1" style="background: url(images/resource/p1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax no-parallax scrolly-invisible"></div><!-- PARALLAX BACKGROUND IMAGE -->	
				<div class="container fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="fsec">
								<div class="finfos wow fadeIn" data-wow-delay="0s">
									<h3><strong> DollarKingz</strong> Hyper Deflationary Token Built with BUSD Reflection</h3>
									<p> <i class="fa fa-check"></i> It works on an autonomous, frictionless, yield farming and liquidity generation protocol.<br><i class="fa fa-check"></i> HODL #DKZ tokens and earn passive income in $BUSD<br><i class="fa fa-check"></i> Start Accumulating Wealth Like Never Before!!!</p>
									<ul class="btns">
										<li><a class="gradient theme-btn" href="#" title="">White Paper</a></li><li><a class="theme-btn blank" href="#" title="">Buy $DKZ</a></li>
									</ul>
									<div class="social">
										<a href="#" title=""><i class="fa fa-telegram"></i></a>
										<a href="#" title=""><i class="fa fa-facebook"></i></a>
										<a href="#" title=""><i class="fa fa-twitter"></i></a>
										<a href="#" title=""><i class="fa fa-youtube"></i></a>
										<a href="#" title=""><i class="fa fa-medium"></i></a>
									</div>
								</div>
								<div class="fimg animute wow fadeIn" data-wow-delay="0.2s">
									<img src="images/resource/mockup1.png" alt="" />
								</div>
							</div>
							<div class="clsec" id="five">
								<div class="cl wow fadeIn" data-wow-delay="0s"> <a href="#" title=""><img src="images/resource/logo1.png" alt="" /></a> </div>
								<div class="cl wow fadeIn" data-wow-delay="0.2s"> <a href="#" title=""><img src="images/resource/logo2.png" alt="" /></a> </div>
								<div class="cl wow fadeIn" data-wow-delay="0.4s"> <a href="#" title=""><img src="images/resource/logo3.png" alt="" /></a> </div>
								<div class="cl wow fadeIn" data-wow-delay="0.6s"> <a href="#" title=""><img src="images/resource/logo4.png" alt="" /></a> </div>
								<div class="cl wow fadeIn" data-wow-delay="0.8s"> <a href="#" title=""><img src="images/resource/logo5.png" alt="" /></a> </div>
							</div>
							<div class="scrolldown"><a href="#scrolldown" title="">Scroll Down</a></div>
						</div>
					</div>
				</div>
			</div>
	</section>

	<section id="one">
		<div class="block" id="scrolldown">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="why-info s2 color wow fadeIn" data-wow-delay="0s">
							<h3>About DollarKingz</h3>
							<p>DollarKingz is a deflationary token designed in a way that the total supply reduces with time making it becoming scarcer over time. Elegible <strong>HOLDERS</strong> will earn about 8% from every transaction (Buy, Transfer and Sell) in $BUSD, which is sent to their wallet automatically. This generates passive income to all holders in a stable coin </p>

							<h3>Why HODL $DKZ</h3>

							<p>DKZ was carefully created in such a way that the total supply decreases over time, which will translate to increase in value of induvidual holdings thereby increasing individuals reward.</p>
							
						</div>
					</div>
					<div class="col-lg-6">
						<div class="sersec s2 color">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<div class="ser wow fadeIn" data-wow-delay="0s">
										<img src="images/reward1.png" alt="" />
										<p>Massive $BUSD Reward </p>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<div class="ser wow fadeIn" data-wow-delay="0.2s">
										<img src="images/buyback1.png" alt="" />
										<p>Multiple Buy Back</p>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<div class="ser wow fadeIn" data-wow-delay="0.4s">
										<img src="images/icon21.png" alt="" />
										<p>Auto LIQUIDITY</p>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<div class="ser wow fadeIn" data-wow-delay="0.6s">
										<img src="images/grow.png" alt="" />
										<p>Massive Community</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="two">
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="whytoken color">
							<h3 class=" wow fadeIn" data-wow-delay="0s">TOKENOMICS</h3>
							<p class=" wow fadeIn" data-wow-delay="0.2s">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
							<div class="tokenfesec">
								<div class="row">
									<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 wow fadeIn" data-wow-delay="0.2s">
										<div class="tkenf tc1 floating">
											<img src="images/icon6.png" alt="" />
											<span>Secured<br>Payment</span>
										</div>
									</div>
									<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 wow fadeIn" data-wow-delay="0.4s">
										<div class="tkenf tc2 floating2">
											<img src="images/icon7.png" alt="" />
											<span>Fully<br>Sercure</span>
										</div>
									</div>
									<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 wow fadeIn" data-wow-delay="0.6s">
										<div class="tkenf tc3 floating">
											<img src="images/icon8.png" alt="" />
											<span>Internal<br>Integration</span>
										</div>
									</div>
									<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 wow fadeIn" data-wow-delay="0.8s">
										<div class="tkenf tc4 floating2">
											<img src="images/icon9.png" alt="" />
											<span>One Click<br>Application</span>
										</div>
									</div>
									<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 wow fadeIn" data-wow-delay="0.10s">
										<div class="tkenf tc5 floating">
											<img src="images/icon10.png" alt="" />
											<span>External<br>Intergration</span>
										</div>
									</div>
									<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 wow fadeIn" data-wow-delay="0.12s">
										<div class="tkenf tc6 floating2">
											<img src="images/icon11.png" alt="" />
											<span>Payment<br>Gateway</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block remove-top remove-bottom">
			<div class="container fluid expadding">
				<div class="row">
					<div class="col-lg-12">
						<div class="countsec color">
							<h3 class=" wow fadeIn" data-wow-delay="0s">Token Sale</h3>
							<p class=" wow fadeIn" data-wow-delay="0.2s">ICO Crypto token will be released on the basis of Ethereum and Bitocin platform. It’s compatibility of the token with third-party services wallets, exchanges.</p>
							<div class="couns2">
								<div class="row">
									<div class="col-lg-6">
										<ul class="countdown-soon wow fadeIn" data-wow-delay="0.4s">
											<li class="days-soon"><span class="days">00</span><p class="days_ref">days</p></li>
											<li class="hours-soon"> <span class="hours">00</span><p class="hours_ref">hours</p></li>
											<li class="minutes-soon"> <span class="minutes">00</span><p class="minutes_ref">minutes</p></li>
											<li class="seconds-soon"> <span class="seconds">00</span><p class="seconds_ref">seconds</p></li>
										</ul>
										<ul class="btns wow fadeIn" data-wow-delay="0.6s">
											<li><a class="g4 gradient theme-btn" href="#" title="">Join & Buy Token Now</a></li>
										</ul>
										<div class="social wow fadeIn" data-wow-delay="0.8s">
											<a href="#" title=""><i class="fa fa-bitcoin"></i></a>
											<a href="#" title=""><i class="fa fa-krw"></i></a>
											<a href="#" title=""><i class="fa fa-cc-visa"></i></a>
											<a href="#" title=""><i class="fa fa-cc-mastercard"></i></a>
										</div>
									</div>
									<div class="col-lg-6">
										<ul class="someblock">
											<li class=" wow fadeIn" data-wow-delay="0s">
												<span>Start</span>
												<p>Feb 8, 2018 (9:00AM GMT)</p>
											</li>
											<li class=" wow fadeIn" data-wow-delay="0.2s">
												<span>End</span>
												<p>Feb 20, 2018 (11:00AM GMT)</p>
											</li>
										</ul>
										<ul class="someblock">
											<li class=" wow fadeIn" data-wow-delay="0.4s">
												<span>Acceptable currencies</span>
												<p>ETH, BTC, LTC</p>
											</li>
											<li class=" wow fadeIn" data-wow-delay="0.6s">
												<span>Number of tokens for sale</span>
												<p>900,000 ICC (9%)</p>
											</li>
										</ul>
										<ul class="someblock">
											<li class=" wow fadeIn" data-wow-delay="0.8s">
												<span>Tokens exchange rate</span>
												<p>1 ETH = 650 ICC, 1 BTC = 1940 ICC</p>
											</li>
											<li class=" wow fadeIn" data-wow-delay="0.10s">
												<span>Minimal transaction amount</span>
												<p>1 ETH/ 1 BTC/ 1 LTC</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="distisec color">
							<h3>Distriabution Of Tokens</h3>
							<div class="chartsec">
								<div class="chart-img wow flash"></div>
								<div class="charttip one wow fadeInLeft" data-wow-delay="0s"><span>10%</span><p>Tokens Presale</p></div>
								<div class="charttip two wow fadeInLeft" data-wow-delay="0.2s"><span>15%</span><p>Bonus Fund</p></div>
								<div class="charttip three wow fadeInLeft" data-wow-delay="0.4s"><span>30%</span><p>Partners And Advisors</p></div>
								<div class="charttip flip four wow fadeInRight" data-wow-delay="0.6s"><span>40%</span><p>Core Phase Of Tokens Sale</p></div>
								<div class="charttip flip five wow fadeInRight" data-wow-delay="0.8s"><span>5%</span><p>Bounties</p></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="distisec color">
							<h3>Use Of Proceeds</h3>
							<div class="chartproceed">
								<div class="chartproceed-img wow fadeInLeft"><img src="images/chart2.png" alt="" /></div>
								<div class="chartsinfo">
									<span class="wow fadeInUp" data-wow-delay="0s"><i class="clr1"></i>25% Branding and Marketing</span>
									<span class="wow fadeInUp" data-wow-delay="0.2s"><i class="clr2"></i>20% Gift Code Invemtory</span>
									<span class="wow fadeInUp" data-wow-delay="0.4s"><i class="clr3"></i>20% Legal & Financial Overhead</span>
									<span class="wow fadeInUp" data-wow-delay="0.6s"><i class="clr4"></i>15% IT Infastructure</span>
									<span class="wow fadeInUp" data-wow-delay="0.8s"><i  class="clr5"></i>10% Bounty & Overhead</span>
									<span class="wow fadeInUp" data-wow-delay="0.10s"><i class="clr6"></i>5% Management</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="three">
		<div class="block remove-top">
			<div class="container fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="roadmapsec color">
							<h3>Road Map</h3>
							<div class="roadnavsec">
								<ul class="roadnav">
							 		<li><span>2014</span></li>
							 		<li><span>2015</span></li>
							 		<li><span>2016</span></li>
							 		<li><span>2017</span></li>
							 		<li><span>2018</span></li>
							 		<li><span>2019</span></li>
							 		<li><span>2020 </span></li>
							 	</ul>
							 </div>
						 	<ul class="roadcontent">
						 		<li>
						 			<div class="rmcontent">
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0s"><i class="cl1"></i><h3>March 2018</h3><p>Start of the ICO Token Platform.</p></div><!-- RoadMap -->
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0.2s"><i class="cl2"></i><h3>June 2018</h3> <p>Launched of mobile Apps</p> </div><!-- RoadMap -->
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0.4s"><i class="cl3"></i><h3>October 2018</h3> <p>Start Token Sale Round (1)</p> </div><!-- RoadMap -->
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0.6s"><i class="cl4"></i><h3>December 2018</h3> <p>Partnership for the future EcoSystem</p> </div><!-- RoadMap -->
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0.8s"><i class="cl5"></i><h3>May 2019</h3> <p>Priority opening for Token holder</p> </div><!-- RoadMap -->
						 			</div>
						 		</li>
						 		<li>
						 			<div class="rmcontent">
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0s"><i class="cl1"></i><h3>March 2018</h3><p>Start of the ICO Token Platform.</p></div><!-- RoadMap -->
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0.2s"><i class="cl2"></i><h3>June 2018</h3> <p>Launched of mobile Apps</p> </div><!-- RoadMap -->
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0.4s"><i class="cl3"></i><h3>October 2018</h3> <p>Start Token Sale Round (1)</p> </div><!-- RoadMap -->
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0.6s"><i class="cl4"></i><h3>December 2018</h3> <p>Partnership for the future EcoSystem</p> </div><!-- RoadMap -->
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0.8s"><i class="cl5"></i><h3>May 2019</h3> <p>Priority opening for Token holder</p> </div><!-- RoadMap -->
						 			</div>
						 		</li>
						 		<li>
						 			<div class="rmcontent">
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0s"><i class="cl1"></i><h3>March 2018</h3><p>Start of the ICO Token Platform.</p></div><!-- RoadMap -->
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0.2s"><i class="cl2"></i><h3>June 2018</h3> <p>Launched of mobile Apps</p> </div><!-- RoadMap -->
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0.4s"><i class="cl3"></i><h3>October 2018</h3> <p>Start Token Sale Round (1)</p> </div><!-- RoadMap -->
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0.6s"><i class="cl4"></i><h3>December 2018</h3> <p>Partnership for the future EcoSystem</p> </div><!-- RoadMap -->
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0.8s"><i class="cl5"></i><h3>May 2019</h3> <p>Priority opening for Token holder</p> </div><!-- RoadMap -->
						 			</div>
						 		</li>
						 		<li>
						 			<div class="rmcontent">
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0s"><i class="cl1"></i><h3>March 2018</h3><p>Start of the ICO Token Platform.</p></div><!-- RoadMap -->
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0.2s"><i class="cl2"></i><h3>June 2018</h3> <p>Launched of mobile Apps</p> </div><!-- RoadMap -->
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0.4s"><i class="cl3"></i><h3>October 2018</h3> <p>Start Token Sale Round (1)</p> </div><!-- RoadMap -->
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0.6s"><i class="cl4"></i><h3>December 2018</h3> <p>Partnership for the future EcoSystem</p> </div><!-- RoadMap -->
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0.8s"><i class="cl5"></i><h3>May 2019</h3> <p>Priority opening for Token holder</p> </div><!-- RoadMap -->
						 			</div>
						 		</li>
						 		<li>
						 			<div class="rmcontent">
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0s"><i class="cl1"></i><h3>March 2018</h3><p>Start of the ICO Token Platform.</p></div><!-- RoadMap -->
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0.2s"><i class="cl2"></i><h3>June 2018</h3> <p>Launched of mobile Apps</p> </div><!-- RoadMap -->
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0.4s"><i class="cl3"></i><h3>October 2018</h3> <p>Start Token Sale Round (1)</p> </div><!-- RoadMap -->
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0.6s"><i class="cl4"></i><h3>December 2018</h3> <p>Partnership for the future EcoSystem</p> </div><!-- RoadMap -->
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0.8s"><i class="cl5"></i><h3>May 2019</h3> <p>Priority opening for Token holder</p> </div><!-- RoadMap -->
						 			</div>
						 		</li>
						 		<li>
						 			<div class="rmcontent">
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0s"><i class="cl1"></i><h3>March 2018</h3><p>Start of the ICO Token Platform.</p></div><!-- RoadMap -->
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0.2s"><i class="cl2"></i><h3>June 2018</h3> <p>Launched of mobile Apps</p> </div><!-- RoadMap -->
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0.4s"><i class="cl3"></i><h3>October 2018</h3> <p>Start Token Sale Round (1)</p> </div><!-- RoadMap -->
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0.6s"><i class="cl4"></i><h3>December 2018</h3> <p>Partnership for the future EcoSystem</p> </div><!-- RoadMap -->
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0.8s"><i class="cl5"></i><h3>May 2019</h3> <p>Priority opening for Token holder</p> </div><!-- RoadMap -->
						 			</div>
						 		</li>
						 		<li>
						 			<div class="rmcontent">
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0s"><i class="cl1"></i><h3>March 2018</h3><p>Start of the ICO Token Platform.</p></div><!-- RoadMap -->
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0.2s"><i class="cl2"></i><h3>June 2018</h3> <p>Launched of mobile Apps</p> </div><!-- RoadMap -->
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0.4s"><i class="cl3"></i><h3>October 2018</h3> <p>Start Token Sale Round (1)</p> </div><!-- RoadMap -->
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0.6s"><i class="cl4"></i><h3>December 2018</h3> <p>Partnership for the future EcoSystem</p> </div><!-- RoadMap -->
							 			<div class="roadmap wow fadeInUp" data-wow-delay="0.8s"><i class="cl5"></i><h3>May 2019</h3> <p>Priority opening for Token holder</p> </div><!-- RoadMap -->
						 			</div>
						 		</li>
						 	</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="four">
		<div class="block teamline">
			<div class="container fluid expadding noright">
				<div class="row">
					<div class="col-lg-3">
						<div class="teaminfos wow fadeIn">
							<h3>Team</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum hasndard a galley of type and scrambled it to make a type specimen book. </p>
						</div>
					</div>
					<div class="col-lg-9">
						<div class="teamlist color">
							<ul class="teamcarousel">
								<li>
									<div class="team wow fadeIn" data-wow-delay="0s">
										<img src="images/resource/team1.jpg" alt="" />
										<h3>Daniel Castro</h3>
										<span>CEO & Lead Blockchain</span>
										<div class="social">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-linkedin"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
										</div>
									</div><!-- Team -->	
								</li>
								<li>
									<div class="team wow fadeIn" data-wow-delay="0.2s">
										<img src="images/resource/team2.jpg" alt="" />
										<h3>Alvaro Deniss</h3>
										<span>Blochain App Developer</span>
										<div class="social">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-linkedin"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
										</div>
									</div><!-- Team -->	
								</li>
								<li>
									<div class="team wow fadeIn" data-wow-delay="0.4s">
										<img src="images/resource/team3.jpg" alt="" />
										<h3>Carlos Ronaldo</h3>
										<span>Community Management</span>
										<div class="social">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-linkedin"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
										</div>
									</div><!-- Team -->	
								</li>
								<li>
									<div class="team wow fadeIn" data-wow-delay="0.6s">
										<img src="images/resource/team4.jpg" alt="" />
										<h3>Henry Viera</h3>
										<span>CTO & Senior Developer</span>
										<div class="social">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-linkedin"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
										</div>
									</div><!-- Team -->	
								</li>
								<li>
									<div class="team wow fadeIn" data-wow-delay="0.8s">
										<img src="images/resource/team5.jpg" alt="" />
										<h3>Zirenia Buile</h3>
										<span>Lead IT Engineer</span>
										<div class="social">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-linkedin"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
										</div>
									</div><!-- Team -->	
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="five">
		<div class="block remove-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="partnersec color">
							<h3>Partners</h3>
							<div class="clsec">
								<div class="cl wow fadeIn" data-wow-delay="0s"> <a href="#" title=""><img src="images/resource/logo11.png" alt="" /></a> </div>
								<div class="cl wow fadeIn" data-wow-delay="0.2s"> <a href="#" title=""><img src="images/resource/logo12.png" alt="" /></a> </div>
								<div class="cl wow fadeIn" data-wow-delay="0.4s"> <a href="#" title=""><img src="images/resource/logo13.png" alt="" /></a> </div>
								<div class="cl wow fadeIn" data-wow-delay="0.6s"> <a href="#" title=""><img src="images/resource/logo14.png" alt="" /></a> </div>
								<div class="cl wow fadeIn" data-wow-delay="0.8s"> <a href="#" title=""><img src="images/resource/logo15.png" alt="" /></a> </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="six">
		<div class="block remove-top">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-7">
						<div class="faqsec color">
							<h3>Frequently Asked Question</h3>
							<div id="toggle-widget" class="experties">
								<h2 class="wow fadeInUp" data-wow-delay="0s">What is LetBet?</h2>
								<div class="content">
									<p>LetBet is an online gambling platform that aims at providing a trustless, borderless,secure, anonymous and fast online gambling platform with zero fee, seamles slyfor all participants in a typical online gambling system powered by the LBT blockchain</p>
								</div>
								<h2 class="wow fadeInUp" data-wow-delay="0.4s">How to create LBT wallet?</h2>
								<div class="content">
									<p>Asunt in anim uis aute irure dolor in repreh enderit in voluptate velit esse cilludolore eu fugiat nulla pariatur </p>
								</div>
								<h2 class="wow fadeInUp" data-wow-delay="0.6s">How can I participate in the ICO?</h2>
								<div class="content">
									<p>Asunt in anim uis aute irure dolor in reprehe nderit in voluptate velit esse cilludolore eu fugiat nulla pariatur </p>
								</div>
								<h2 class="wow fadeInUp" data-wow-delay="0.8s">How can I start playing SportBet?</h2>
								<div class="content">
									<p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cilludolore eu fugiat nulla pariatur </p>
								</div>
								<h2 class="wow fadeInUp" data-wow-delay="0.10s">Is Affiliate Program available?</h2>
								<div class="content">
									<p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cilludolore eu fugiat nulla pariatur </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="bottomline">
		<div class="scrollup"><a href="#scrollup" title="">Scroll Up</a></div>
		<span>© 2018 ICO TOKEN All rights reserved. Design by Creative Layers</span>
	</div>